body {
   background-image: url("grassandsky.jpg");
   background-color: #ebcdcd;
   background-repeat: no-repeat;
   background-size: cover;
   font-size: xx-large;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
   text-align: center;
   text-decoration-color: ivory;
   }
   
.topnav {
  background-color: #5cb6eb;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #1f1b1b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #79c9f7;
  color: rgb(255, 255, 255);
}

.topnav a.active {
  background-color: #79c9f7;
  color: white;
}

.topnav .icon {
  display: none;
}
body {
  background-color: #0A2344;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}
 
h1 {
  text-align: center;
}

.accordion {
  width: 800px;
  margin: 90px auto;
  color: black;
  background-color: #79c9f7;
  padding: 45px 45px;
}

.accordion .container {
  position: relative;
  margin: 10px 10px;
}

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

.accordion .label::before {
  content: '+';
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  background: #79c9f7;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}
.accordion .container.active .content {
  height: 150px;
}

.accordion .container.active .label::before {
  content: '-';
  font-size: 30px;
}