body {
   background-image: url("grassandsky.jpg");
   background-color: #ebcdcd;
   background-repeat: no-repeat;
   background-size: cover;
   font-size: xx-large;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
   text-align: center;
   text-decoration-color: ivory;
   }
   
.topnav {
  background-color: #5cb6eb;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #1f1b1b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #79c9f7;
  color: rgb(255, 255, 255);
}

.topnav a.active {
  background-color: #79c9f7;
  color: white;
}

.topnav .icon {
  display: none;
}
body {
  background-color: #0A2344;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}
 
h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: skyblue;
  color:rgba(255, 255, 255);
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgb(125, 154, 180);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212"
}